body{
    background-color: rgb(25, 25, 25);
    color: white;
}
*{
    margin: 0;
}

h1{
    text-align: center;
}

canvas{
    border: white solid .1em;
    display: inline-block;
    width: 100%;
    height: 50%;
}

#img-menu{
    display: flex;
    width: 100vw;
    height: 35vw;
    margin-top: 3em;
    text-align: center;
}

#img-menu > div > div{
    width: 10vh;
    height: 7.5vh;
    background-color: rgb(50, 50, 50);
    border: solid white .1em;
    color: white;
}

#img-menu > div > div:hover{
    background-color: darkgray;
}

input[type="file"]{
    display: none;
}

#convert{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    background-color: rgb(25, 25, 25);
    border: solid white .1em;
    width: 10vh;
    height: 5vh;
    background-color: green;
}

#convert:hover{
    background-color: darkgray;
}

a{
    color: white;
    text-decoration: none;
}

#left{
    display: block;
    margin-left: 10vw;
    width: 30vw;
    height: 60vw;
}

#right{
    display: block;
    margin-left: 20vw;
    width: 30vw;
    height: 60vw;
}